<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wesoft.mvvm.main">

    <dist:module
            dist:instant="true"
            dist:onDemand="false"
            dist:title="@string/title_feature_main">
        <dist:fusing dist:include="true"/>
    </dist:module>

    <application tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.common.rxmvvm.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:host="gank.io" />
                <data android:path="/main" />
            </intent-filter>
        </activity>
    </application>

</manifest>